.custominput{
    width: 100%;
    margin-bottom: 25px;
    height: 40px;
}
.container{
    padding-top: 25px;
    padding-left: 70px;
    padding-right: 70px;
}
.label{
    margin: 0;
    font-size: 13.5px;
    letter-spacing: 1.2px;
    color: rgb(121, 118, 118);
    font-weight: 500;
}
.custombutton{
    width: 100%;
    size: 20px;
    margin-top: 16px;
}
.link{
    color: black;
}
.linkcontainer{
    text-align: center;
    padding-top: 15px;
}